---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TextSection from "../components/TextSection.astro";
import ProjectSection from "../components/ProjectSection.astro";
import ContactSection from "../components/ContactSection.astro";

import content from "../../content.json";
import { Project } from "../api/project";
import { Api } from "../api/api";

let projects: Project[] = [];

try {
  projects = await Api.getProjects();
} catch (error) {
  projects = [];
}
---

<Layout>
  <main class="flex flex-col items-center justify-center p-6">
    <div class="w-full max-w-4xl">
      <Header name={content.name} contents={content.contents} />
      <TextSection
        path="about-me"
        command="cat about-me.txt"
        description={content.bio}
        id="about-me"
      />
      <ProjectSection
        path="projects"
        command="ls"
        projects={projects}
        id="projects"
      />
      <ContactSection
        path="contact"
        command="cat contacts.txt"
        contacts={content.contacts}
        email={content.email}
        id="contact"
      />
    </div>
  </main>
</Layout>
