---
import Prompt from "./Prompt.astro";

const { path, command, contacts, email = "", id } = Astro.props;

// const copyToClipboard = (text: HTML) => {
//   navigator.clipboard
//     .writeText(text)
//     .then(() => {
//       alert("Texto copiado al portapapeles!");
//     })
//     .catch((err) => {
//       console.error("Error al copiar el texto: ", err);
//     });
// };
---

<script>
  const copyToClipboard = (text: string) => {
    navigator.clipboard
      .writeText(text)
      // TODO: DO SOMETHING WHEN THE TEXT IS COPIED
      // .then(() => {
      //   alert("Texto copiado al portapapeles!");
      // })
      .catch((err) => {
        console.error("Error al copiar el texto: ", err);
      });
  };

  const emailElement = document.getElementById("email");

  if (emailElement) {
    const email = emailElement.innerText;
    emailElement.addEventListener("click", () => {
      copyToClipboard(email);
    });
  }
</script>

<footer class="mt-20 mb-20" id={id}>
  <Prompt path={path} command={command} />
  <div class="mt-4 flex flex-col gap-2">
    <p class="text-base sm:text-lg">
      <span class="text-green-300">-</span>
      <span class="text-cyan-300">Email: </span><span
        class="text-base sm:text-lg hover:cursor-pointer hover:text-[#C8A8FC] transition duration-300"
        id="email">{email}</span
      >
    </p>
    {
      contacts.map((contact: { name: string; url: string }) => (
        <p class="text-base sm:text-lg">
          <span class="text-green-300">-</span>
          <span class="text-cyan-300">{contact.name}:</span>
          <a
            href={contact.url}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-[#C8A8FC] transition duration-300"
          >
            {contact.url}
          </a>
        </p>
      ))
    }
  </div>
</footer>
