---
import Prompt from "./Prompt.astro";
import SocialCard from "./SocialCard.astro";

const { path, command, socials, id } = Astro.props;
---

<footer class="mt-20 mb-20" id={id}>
  <Prompt path={path} command={command} />
  <div class="mt-4 flex flex-col gap-2">
    <div class="flex flex-col md:flex-row items-center gap-2 md:gap-10">
      {
        socials.map((social: { name: string; url: string; icon: string }) => (
          <SocialCard name={social.name} url={social.url} icon={social.icon} />
        ))
      }
    </div>
  </div>
</footer>

<script>
  const copyToClipboard = (text: string) => {
    return navigator.clipboard.writeText(text);
  };

  const $emailElement = document.getElementById("email");

  if ($emailElement) {
    const copyIcon = document.getElementById("copy-icon") as HTMLImageElement;
    const copyButton = document.getElementById(
      "copy-button"
    ) as HTMLButtonElement;

    const email = $emailElement.innerText;
    copyButton.addEventListener("click", () => {
      copyToClipboard(email)
        .then(() => {
          copyIcon.src = "../../public/check.svg";
          copyIcon.alt = "Copied";
        })
        .catch((err) => console.error("Error while copying text: ", err));
    });
  }
</script>
