---
const { url, icon, name } = Astro.props;
const link =
  name.toLowerCase() === "email" ? `mailto:${url}` : `https://${url}`;
---

<div
  class="relative group cursor-pointer border border-green-300 rounded-lg p-3 sm:p-4 my-4 shadow-md w-full max-w-xs sm:max-w-sm hover:border-cyan-300 transition duration-300"
>
  <a
    href={link}
    aria-label={name}
    target="_blank"
    rel="noopener noreferrer"
    class="block"
  >
    <div class="flex items-center gap-2 sm:gap-3 mb-2">
      <img src={icon} alt={name} class="w-4 h-4 sm:w-5 sm:h-5" />
      <h3 class="font-mononokiBoldItalic font-bold text-[#C8A8FC] text-base sm:text-lg">
        {name}
      </h3>
      
      <div
        class="w-4 h-4 sm:w-5 sm:h-5 text-cyan-300 group-hover:text-[#C8A8FC] group-hover:translate-x-1 opacity-0 group-hover:opacity-100 transition duration-300 flex-shrink-0 ml-auto"
      >
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    
    <p class="text-gray-400 text-xs sm:text-sm truncate group-hover:text-[#C8A8FC] transition duration-300">
      {url}
    </p>
  </a>
</div>
