---
const { url, icon, name } = Astro.props;

const link = name.toLowerCase() === "email" ? `mailto:${url}` : url;
---

<!-- Tarjeta de enlace con icono y nombre centrados -->
<div
  class="relative border-2 border-green-300 rounded-xl p-6 my-4 shadow-lg w-72 min-h-auto flex flex-col justify-between"
>
  <a
    href={link}
    aria-label={name}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex flex-col items-center justify-center text-center gap-4 h-full"
  >
    <div
      class="flex items-center justify-center p-3 rounded-full border-2 border-cyan-300"
    >
      <img src={icon} alt={name} class="w-12 h-12" />
    </div>

    <span class="text-xl font-bold text-cyan-300">{name}</span>
    <span
      class="text-sm italic text-gray-600 dark:text-gray-400 group-hover:text-blue-500 underline-offset-2 hover:underline transition-colors duration-300 break-all"
      >{url}</span
    >
  </a>
</div>
